<!-- wp:template-part {"slug":"header","theme":"showfolio","area":"header"} /-->
<!-- wp:group {"tagName":"main","layout":{"type":"constrained","contentSize":"100%"}} -->
<main class="wp-block-group">
  <!-- wp:pattern {"slug":"showfolio/hero-section"} /-->
  <!-- wp:pattern {"slug":"showfolio/about-me"} /-->
  <!-- wp:pattern {"slug":"showfolio/skills"} /-->
  <!-- wp:pattern {"slug":"showfolio/portfolio"} /-->
  <!-- wp:pattern {"slug":"showfolio/testimonial-block"} /-->
  <!-- wp:pattern {"slug":"showfolio/services-block"} /-->
  <!-- wp:pattern {"slug":"showfolio/contact-newsletter"} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","theme":"showfolio"} /-->
